body{
    background-image: url('../img/Ganyu.png');
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
}

.dark-mode{
    background-image: url('../img/DARTH-VADER.jpeg')

}

#icon_darkmode{
    color: rgb(16, 22, 42)!important;
    cursor: pointer;

}

.dark-title{
    display: none;
    margin-top: 10px!important;
    margin-bottom: 10px;
    margin-left:10px;
    font-family: 'Raleway'!important;
}

.light-title{
    margin-top: 10px!important;
    margin-bottom: 10px;
    margin-left:10px;
    font-family: 'Raleway'!important;
}

.user-title{
    margin-top: 0!important;
    margin-bottom: 10px!important;
    margin-left:10px;
    font-family: 'Raleway';
}

.users{
    margin-left:10px!important;
    font-family: 'Raleway';
}

.card{
    background-color: #14263f;
    border-radius: 10%;
}

.card-content{
    padding: 15px!important;
    padding-left:30px!important;
    padding-right:30px!important;
    padding-bottom: 10px!important;
}

.post{
    background-color: #7e7f96;
    border-radius: 5%;
    font-size: 50%;
}

.change{
    padding-top: 10px;
    margin-bottom: 0px;
}

.uid{
    font-family: 'Raleway'!important;
}

.access{
    font-family: 'Raleway'!important;
}

#button{
    background-color: #afefef;
    color:#14263f;
    
}

.dark-button{
    background-color: #c15252!important;
    color: #ffffff!important;
}

.dark-card{
    background-color: #b10202;
}